@font-face {
    font-family: pokefont;
    src: url(../font/Pokemon\ Solid.ttf);
}

body {
    background-color: rgb(214, 214, 214);
    
}

.background-image {
    background-image: url(../images/professor-oak-lab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    height: 100vh;
}

.site-content {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-container {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: black;
    background: linear-gradient(black, rgb(0, 0, 80));
}

.navbar {
    margin: auto;
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 35px;
}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.navbar li.logo-container {
    width: 200px;
    height: 100%;
}

.navbar li.menu-container {
    width: 150px;
    height: 100%;
}

.navbar a {
    width: 90%;
    margin: auto;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 100%;
    font-family: pokefont, sans-serif;
    color: #FFCC01;
    font-size: 2.5rem;
    letter-spacing: 3px;
    -webkit-text-stroke: 3px #355FAC;
    text-shadow: -1px -1px 0 #355FAC, 1px -1px 0 #355FAC, -1px 1px 0 #355FAC, 1px 1px 0 #355FAC;
}

.navbar .menu {
    color: white;
    font-size: 1.5rem;
}

.navbar .menu-icon {
    display: none;
}

.menu:hover {
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-radius: 5px;
    font-size: 1.6rem;
}

.navbar form {
    display: flex;
}

.navbar input {
    height: 50%;
    margin: auto;
    border-width: 0;
}

.navbar input[type="text"] {
    width: 150px;
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar input[type="submit"] {
    width: 75px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar input[type="submit"]:hover {
    background: gray;
}

@media screen and (max-width: 1024px) {
    .navbar {
        width: 100%;
        padding-left: 5px;
        padding-right: 7px;
    }
}

@media screen and (max-width: 890px) {
    .navbar {
        padding: 5px 5px 0;
    }

    .navbar ul {
        justify-content: center;
    }
    
    .navbar form {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .navbar-container {
        height: auto;
    }

    .navbar {
        padding: 20px 0 0;
    }

    .navbar .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li.logo-container, .navbar li.menu-container, .navbar a {
        width: 200px;
        height: 50px;
    }

    .navbar li.menu-container {
        display: none;
    }

    .menu:hover {
        border: 2px solid red;
        border-radius: 5px;
        font-size: 1.6rem;
    }

    .navbar form {
        display: none;
    }
}